*{
    padding: 0px;
    margin: 0px;
    font-size: 10px;
    box-sizing: border-box;
}


body{
    background-image: url(maps/valoranttitle.jpg);
    background-size:100%;
    background-color: rgb(16, 27, 38);
        font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
    
    }

.container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
    width:100%;
}
.header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.12);
}

#jettknife{
    animation: 2s linear scroll infinite;
    width:100px ;
    height:100px ;
}

@keyframes scroll {
    0%{

    }
    100%{
        transform:translateX(calc(100vw - 100%));
    }
}
.card{
    width:21%;
    height: 600px;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    margin-top:50px;
    background-image:url(maps/cardbackground.webp);
    background-size:100%;
    transition: all 0.5s;
    box-shadow: 40px 40px 15px rgba(0, 0, 0, 0.61);
}
.card:hover{
    transform:scale(1.05);
    background-image:url(maps/possible2.jpg) ;
    background-size: 100%;

}
#first:hover{
    transform: rotate(1turn);
}
#third:hover{
    transform: rotate(15deg);
}
#fourth:hover{
    transform: skew(5deg, 5deg);
}
#fifth:hover{
    transform: scale(1.2) translate(50px, -50px);
}

@media screen and (max-width: 800px) {
    .container{
        flex-direction: column;
    }
    .card{
        width: 80%;
        height: auto;
    }
}

.imgcard{
    height:50%;
    width: 100%;
    object-fit: cover;
}
.description{
    margin-bottom: 1.2rem;
    color:rgb(252, 252, 252)
}
